<div>
  <h3 class="heading">Login</h3>
  <div class="login-content">
    <form [formGroup]="loginForm">
      <div class="form-group" class="login-row">
        <mat-form-field class="full-width">
          <input matInput type="text" formControlName="email" placeholder="Enter Email">
          <mat-error
            *ngIf="loginForm.controls.email.hasError('email') && !loginForm.controls.email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="loginForm.controls.email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group" class="login-row">
        <mat-form-field class="full-width">
          <input matInput type="password" formControlName="password" placeholder="Enter Password">
          <mat-error *ngIf="loginForm.controls.password.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button class="login-button" [disabled]="!loginForm.valid"
          (click)="loginUser(loginForm.value)">Login</button>
      </div>

    </form>
  </div>
</div>