.image-data {
    margin-left: 80px;
    width: 384px;
}

.arrow-left {
    position: relative;
    top: 280px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
}

.arrow-right {
    position: relative;
    top: 280px;
    left: 490px;
    z-index: 1;
    cursor: pointer;
}

.container {
    overflow-x: hidden;
    padding-bottom: 10px;
}

.image-container {
    padding-left: 30px; 
}