/* .image-data {
    position: fixed;
    top: 45%;
    left: 50%;
   
    transform: translate(-50%, -50%);
} */
.image-data {
 margin-left: 80px;
}
.site-details {
    position: fixed;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.site-details span {
    margin-right: 15px;
    color: rgb(87, 87, 87);
}