/* .image-data {
    position: fixed;
    top: 45%;
    left: 50%;
   
    transform: translate(-50%, -50%);
} */
.image-data {
 margin-left: 80px;
}
.site-details {
    display: flex;
    flex-flow: row wrap;
    position: fixed;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card {
    border-left: 1px solid grey;
    margin-right: 15px;
    color: rgb(87, 87, 87);
}