table {
    width: 100%;
  }

.images {
    margin-right: 10px;
    height: 80px;
}
/* .site-id {
    width: 100px;
} */
.mat-column-siteId {
  flex: 0 0 100px;
}
.mat-column-location {
    flex: 0 0 300px;
  }
.mat-column-contractorId {
    flex: 0 0 100px;
  }
  .mat-column-submittedOn {
    flex: 0 0 150px;
  }
  /* .mat-column-status {
    flex: 0 0 150px;
  } */
  .input-new {
      margin-right: 10px;
  }
